---
pageKey: main
title: NodeDayUK

---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		{% include "partials/_hero.html" %}
		{% include "partials/_event.html" %}

		{# {% include "partials/_dates.html" %} #}
		{# {% include "partials/_team.html" %} #}
		{# {% include "partials/_follow-us.html" %} #}
		{# {% include "partials/_committee.html" %} #}
		{# {% include "partials/_advice-lounge.html" %} #}
		{# {% include "partials/_schedule.html" %} #}

		{% include "partials/_follow-us-more.html" %}


	</main><!-- .content -->


{% include "partials/_footer.html" %}

{% endblock %}
