<section class="team section dark" id="advice-lounge">
	<div class="container">
		<div class="section__head">
			<div class="section__head-l">
				<h2 class="section__title">{{pages[pageKey].pageSections.adviceLounge.title}}</h2>
				<p class="section__desc">Meet domain experts and community leaders one-on-one to address your problems and get personalized advice on the challenges you’re facing.</p>
			</div>
			
			<div class="section__head-r">
				<a class="basic-btn">Get Advice {{mixins.icon('arrow-link')}}</a>
			</div>
		</div>

		<div class="team__inner">
			{% for item in speakers[pageKey] %}
			<div class="team__item">
				{{mixins.teammate(item, '', noTracks)}}
			</div>
			{% endfor %}

			{% if (pages[pageKey].pageSections.team.cpf) %}
			<div class="team__item team__item_assign">
				<p class="team__title">You?</p>
				<p class="team__desc">CFP is open until  29th February</p>
				<a class="basic-btn" href="#">Submit proposal {mixins.icon('arrow-link')}}</a>
			</div>
			{% endif %}
		</div>
	</div>
</section>
