<section class="team advice-lounge section" id="advice-lounge">
	<div class="container">
		<div class="section__head">
			<div class="section__head-l">
				<h2 class="section__title">{{pages[pageKey].pageSections.adviceLounge.title}}</h2>
				<p class="section__desc">{{pages[pageKey].pageSections.adviceLounge.descr}}</p>
			</div>
			
			<div class="section__head-r">
				<a class="basic-btn">Get Advice {{mixins.icon('arrow-link')}}</a>
			</div>
		</div>

		<div class="team__inner">
			{% for item in speakers.committee %}
			<div class="team__item">
				{{mixins.teammate(item, 'teammate_on-dark', noTracks)}}
			</div>
			{% endfor %}
		</div>
	</div>
</section>
