<section class="follow-us more" id="contacts">
	<div class="container">
		<h2 class="follow-us__title"><span>{{pages[pageKey].pageSections.followUsMore.title}}</span></h2>
		<p class="follow-us__desc">{{pages[pageKey].pageSections.followUsMore.descr | safe }}</p>

		<div class="follow-us__right">
			<div class="follow-us__mail">
				{{mixins.icon('mail')}}
			</div>

			<div class="follow-us__socials">
				<p class="follow-us__socials-title">Follow us for updates:</p>

				<ul class="socials">
					<li class="socials__item">
						<a href="https://www.facebook.com/ReactAdvanced" target="_blank" class="socials__link">
							<svg class="socials__img fb" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#fb"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="http://twitter.com/reactadvanced" target="_blank" class="socials__link">
							<svg class="socials__img tw" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#tw"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://youtube.com/c/ReactConferences" target="_blank" class="socials__link">
							<svg class="socials__img yt" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#yt"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://medium.com/@ReactAdvanced" target="_blank" class="socials__link">
							<svg class="socials__img med" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#med"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<form class="form-follow">
			<input class="form-follow__input" type="text" placeholder="Email address">
			<button class="form-follow__submit basic-btn btn-white" type="submit">Submit {{mixins.icon('arrow-link')}}</button>
		</form>
		
	</div>
</section>