<section class="follow-us">
	<div class="container">
		<h2 class="follow-us__title"><span>{{pages[pageKey].pageSections.followUs.title}}</span></h2>
		<p class="follow-us__desc">{{pages[pageKey].pageSections.followUs.descr | safe }}</p>


		<div class="follow-us__right">
			<div class="follow-us__mail">{{mixins.icon('mail')}}</div>
		</div>

		<form class="form-follow">
			<input class="form-follow__input" type="text" placeholder="Email address">
			<button class="form-follow__submit basic-btn btn-white" type="submit">Submit {{mixins.icon('arrow-link')}}</button>
		</form>
		
	</div>
</section>