<section class="giving-back section" id="giving-back">
	<div class="container">

		<div class="border-wrap">
		
			<div class="section__head">
				<div class="section__head-l">
					<h2 class="section__title">{{pages[pageKey].pageSections.givingBack.title}}</h2>
					<p class="section__desc">{{pages[pageKey].pageSections.givingBack.descr | safe }}</p>
				</div>
				
				<div class="section__head-r">

					<div class="diversity-progress">
						<div class="diversity-bar">
							<div class="diversity-bar__progress" style="width: 50%"></div>
						</div>
						<p class="diversity-progress__title">10 of 50</p>
						<p class="diversity-progress__desc">extra diversity scholarships sponsored</p>
					</div>

					<a class="basic-btn">Sponsor diversity tickets {{mixins.icon('arrow-link')}}</a>

				</div>
			</div>
		</div>
	</div>
</section>