
	<header class="header js-header">
		<div class="container">
			<button class="menu-toggle js-burger">
				<span></span>
				<span></span>
				<span></span>
			</button>

			<div class="header__logo">
				<div class="logo ir">
					<a href="/" class="logo__link">sitename sitename sitename</a>
				</div>
			</div>

			<div class="header__main-nav">
				<nav class="main-nav">
					{% if inner %}
					<li class="main-nav__item"><a class="main-nav__link" href="/">Menu on inner page</a></li>
					{% else %}
					<li class="main-nav__item active"><a class="main-nav__link js-scroll-to" href="#event">The event</a></li>
					<!-- <li class="main-nav__item"><a class="main-nav__link js-scroll-to" href="#">Speakers</a><li> -->
					<!-- <li class="main-nav__item"><a class="main-nav__link js-scroll-to" href="#">Locations</a></li> -->
					<!-- <li class="main-nav__item"><a class="main-nav__link js-scroll-to" href="#">Schedule</a></li> -->
					<!-- <li class="main-nav__item"><a class="main-nav__link js-scroll-to" href="#">Tour day</a></li> -->
					<li class="main-nav__item"><a class="main-nav__link js-scroll-to" href="#contacts">Contact us</a></li>
					{% endif %}
				</nav>

				<a class="header__tickets basic-btn btn-white" href="#">Buy tickets {{mixins.icon('arrow-link')}}</a>
			</div>

			<ul class="socials">
				<li class="socials__item">
					<a href="https://www.facebook.com/ReactAdvanced" target="_blank" class="socials__link">
						<svg class="socials__img fb" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#fb"></use>
						</svg>
					</a>
				</li>
				<li class="socials__item">
					<a href="http://twitter.com/reactadvanced" target="_blank" class="socials__link">
						<svg class="socials__img tw" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#tw"></use>
						</svg>
					</a>
				</li>
				<li class="socials__item">
					<a href="https://youtube.com/c/ReactConferences" target="_blank" class="socials__link">
						<svg class="socials__img yt" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#yt"></use>
						</svg>
					</a>
				</li>
				<li class="socials__item">
					<a href="https://medium.com/@ReactAdvanced" target="_blank" class="socials__link">
						<svg class="socials__img med" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#med"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</header><!-- .header -->
