<section class="location" id="location">
	<div class="container">
		<div class="section__head">
			<div class="section__head-l">
				<h2 class="section__title">{{pages[pageKey].pageSections.location.title}}</h2>
				<p class="section__desc">{{pages[pageKey].pageSections.location.descr}}</p>
			</div>
			
			<div class="section__head-r">
				<a class="basic-btn btn-shadow">Call for Papers {{mixins.icon('arrow-link')}}</a>
			</div>
		</div>

		<div class="location__inner">

		</div>
	</div>
</section>
