<section class="party section" id="osa-award">
	<div class="container">

		<div class="border-wrap">
			<div class="section__head">
				<div class="section__head-l">
					<h2 class="section__title">{{pages[pageKey].pageSections.party.title}}</h2>
					<p class="section__desc">{{pages[pageKey].pageSections.party.descr}}</p>
				</div>
				
				<div class="section__head-r"></div>
			</div>

			<div class="party-nav">
				<a class="party-nav__prev">{{mixins.icon('arrow-left')}}</a>
				<a class="party-nav__next">{{mixins.icon('arrow-right')}}</a>
			</div>
		</div>

		<div class="party-mcs">
			<div class="party-mcs__left">
				<div class="mcs">
					<div class="mcs__item">
						<div class="mcs__left">
							<img class="mcs__img" src="pic/orca.png">
						</div>
						<div class="mcs__right">
							<h4 class="mcs__title">ALICEEFFEKT — ORCA</h4>
							<p class="mcs__skills">Node.js, Japan</p>
							<div class="mcs__desc">AliceEffekt is formed by Devine Lu Linvega, a true digital nomad and a polymath working on a series of experimental tools and applications. Devine has created a set of live coding tools for rapid iteration and creation of rythms based on Node.js. </div>
						</div>
					</div>

					<div class="mcs__item">
						<div class="mcs__left">
							<img class="mcs__img" src="pic/polyop.png">
						</div>
						<div class="mcs__right">
							<h4 class="mcs__title">POLYOP</h4>
							<p class="mcs__skills">WebGL, React, Web Audio API, and Web MIDI API, UK</p>
							<div class="mcs__desc">An electronic music and audiovisual group from London, established by producer Jack Driscoll and visual artist Alex Kempton in 2016. The visuals in their show have been created entirely in Javascript using WebGL.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="party-mcs__right">
				<div class="party-mcs__decor"></div>
			</div>
		</div>
	</div>
</section>