<section class="workshops section" id="workshops">
	<div class="container">
		
		<div class="section__head">
			<div class="section__head-l">
				<h2 class="section__title">{{pages[pageKey].pageSections.workshops.title}}</h2>
				<h3 class="section__subtitle">October 23-24</h3>
				<p class="section__desc">{{pages[pageKey].pageSections.workshops.descr | safe }}</p>

				<a class="basic-btn">Workshop programmes {{mixins.icon('arrow-link')}}</a>
			</div>
			
			<div class="section__head-r">
				<div class="workshops__decor"></div>
			</div>
		</div>

		<div class="hosts">
			
		</div>
	</div>
</section>