%svg-common {
	background: url("../sprite.svg") no-repeat;
}

.svg-arrow-left {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-arrow-left-dims {
	width: 13px;
	height: 22.8px;
}

.svg-arrow-link {
	@extend %svg-common;
	background-position: 4.593639575971731% 7.77027027027027%;
}

.svg-arrow-link-dims {
	width: 14px;
	height: 13px;
}

.svg-arrow-right {
	@extend %svg-common;
	background-position: 9.507042253521126% 12.578616352201259%;
}

.svg-arrow-right-dims {
	width: 13px;
	height: 22.8px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 15.09433962264151% 21.299638989169676%;
}

.svg-calendar-dims {
	width: 32px;
	height: 32px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 25.622775800711743% 31.92982456140351%;
}

.svg-fb-dims {
	width: 16px;
	height: 24px;
}

.svg-gh {
	@extend %svg-common;
	background-position: 31.884057971014492% 39.792387543252595%;
}

.svg-gh-dims {
	width: 21px;
	height: 20px;
}

.svg-location {
	@extend %svg-common;
	background-position: 41.132075471698116% 48.73646209386282%;
}

.svg-location-dims {
	width: 32px;
	height: 32px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 53.20754716981132% 58.902370203160274%;
}

.svg-mail-dims {
	width: 32px;
	height: 25.48px;
}

.svg-med {
	@extend %svg-common;
	background-position: 62.90909090909091% 66.0958904109589%;
}

.svg-med-dims {
	width: 22px;
	height: 17px;
}

.svg-play {
	@extend %svg-common;
	background-position: 71.36060894386299% 75.81227436823104%;
}

.svg-play-dims {
	width: 23.74px;
	height: 32px;
}

.svg-sl {
	@extend %svg-common;
	background-position: 77.43988684582743% 82.08955223880596%;
}

.svg-sl-dims {
	width: 14.2px;
	height: 14.2px;
}

.svg-tw {
	@extend %svg-common;
	background-position: 85.4014598540146% 89.23611111111111%;
}

.svg-tw-dims {
	width: 23px;
	height: 21px;
}

.svg-we {
	@extend %svg-common;
	background-position: 91.45907473309609% 94.88054607508532%;
}

.svg-we-dims {
	width: 16px;
	height: 16px;
}

.svg-yt {
	@extend %svg-common;
	background-position: 100% 100%;
}

.svg-yt-dims {
	width: 24px;
	height: 15px;
}

