.svg-arrow-left-dims {
	width: 13px;
	height: 22.8px;
}

.svg-arrow-link-dims {
	width: 14px;
	height: 13px;
}

.svg-arrow-right-dims {
	width: 13px;
	height: 22.8px;
}

.svg-calendar-dims {
	width: 32px;
	height: 32px;
}

.svg-fb-dims {
	width: 16px;
	height: 24px;
}

.svg-gh-dims {
	width: 21px;
	height: 20px;
}

.svg-location-dims {
	width: 32px;
	height: 32px;
}

.svg-mail-dims {
	width: 32px;
	height: 25.48px;
}

.svg-med-dims {
	width: 22px;
	height: 17px;
}

.svg-play-dims {
	width: 23.74px;
	height: 32px;
}

.svg-sl-dims {
	width: 14.2px;
	height: 14.2px;
}

.svg-tw-dims {
	width: 23px;
	height: 21px;
}

.svg-we-dims {
	width: 16px;
	height: 16px;
}

.svg-yt-dims {
	width: 24px;
	height: 15px;
}

