%svg-common {
	background: url("../sprite.svg") no-repeat;
}

.svg-arrow-link {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-arrow-link-dims {
	width: 14px;
	height: 13px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 6.511627906976744% 6.532663316582915%;
}

.svg-calendar-dims {
	width: 32px;
	height: 32px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 19.913419913419915% 21.73913043478261%;
}

.svg-fb-dims {
	width: 16px;
	height: 24px;
}

.svg-gh {
	@extend %svg-common;
	background-position: 27.43362831858407% 32.70142180094787%;
}

.svg-gh-dims {
	width: 21px;
	height: 20px;
}

.svg-location {
	@extend %svg-common;
	background-position: 38.604651162790695% 44.72361809045226%;
}

.svg-location-dims {
	width: 32px;
	height: 32px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 53.48837209302326% 58.875048657065%;
}

.svg-mail-dims {
	width: 32px;
	height: 25.48px;
}

.svg-med {
	@extend %svg-common;
	background-position: 65.33333333333333% 68.69158878504673%;
}

.svg-med-dims {
	width: 22px;
	height: 17px;
}

.svg-sl {
	@extend %svg-common;
	background-position: 72.59450171821305% 75.64575645756457%;
}

.svg-sl-dims {
	width: 14.2px;
	height: 14.2px;
}

.svg-tw {
	@extend %svg-common;
	background-position: 82.14285714285714% 85.23809523809524%;
}

.svg-tw-dims {
	width: 23px;
	height: 21px;
}

.svg-we {
	@extend %svg-common;
	background-position: 89.6103896103896% 93.02325581395348%;
}

.svg-we-dims {
	width: 16px;
	height: 16px;
}

.svg-yt {
	@extend %svg-common;
	background-position: 100% 100%;
}

.svg-yt-dims {
	width: 24px;
	height: 15px;
}

